<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Georgia Blind Sports
            <br />
            Association
        </h2>
        <p>
            Together, we are committed to breaking down barriers, challenging perceptions, and creating a world where visually impaired athletes can thrive and excel.
        </p>
        <a href="/contact" class="cs-button-solid">Contact Us</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/GroupPhoto8.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/GroupPhoto8.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/GroupPhoto8.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>