<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a href="/" class="cs-logo" aria-label="back to home">
                <img src="/assets/images/GBSA_better.png" alt="logo" width="550" height="250" aria-hidden="true" decoding="async">
              </a>
            
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/sports">Sports</a>
                    </li>
                    <li>
                        <a href="/projects">Pictures</a>
                    </li>
                    <li>
                        <a href="/reviews">Events</a>
                    </li>
                    <li>
                        <a href="/blog">About Us</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Important Links</h2>
                    </li>
                    <li><a href="https://www.usaba.org/">US Association of Blind Athletes</a></li>
                    <li><a href="https://cviga.org/">Center for Visually Impaired</a></li>
                    <li><a href="https://www.nbba.org/">National Beepball Association</a></li>
                    <li><a href="https://www.usopc.org/paralympic-sport-development">US Olympic & Paralympic Committee</a></li>
                    <li><a href="https://www.facebook.com/gablindsports">Facebook Page</a></li>
                </ul>
                <ul>
                    <li>
                        <h2><a href="/contact">Contact</a></h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">Book Street Designs</a>
        <span class="copyright">
            Copyright {% year %} - Present</span>
    </div>
</footer>