---
title: 'FAQ'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'faq/'
eleventyNavigation:
    key: FAQ
    order: 700
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/faq.css">
    
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-1193">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/faq.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/faq.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/faq.jpg" alt="body shop" width="522" height="609" aria-hidden="true">
            </picture>
            
        </div>
        <div class="cs-content">
            <span class="cs-topper">Asked questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do I need experience to play any of the sports?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        No experience necessary, we are happy to train anyone who is interested.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How much does it cost to participate?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We provide all the equipment needed. Only cost would be travel to tournaments. There is Financial Assistance if needed.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How old does my child have to be to play?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We ask that youth players be at least 13 years old.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How can I volunteer?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Please visit our <a href="/volunteer" style="color: var(--primary)">Volunteer Page</a> and fill out our form!
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How do I Donate?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Please visit our <a href="/contact" style="color: var(--primary)">Donation Page</a> and press the "DONATE NOW" button!
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
{% endblock %}