/* PAGE-SPECIFIC STYLES FOR THE BLOG AND ARTICLE PAGES */
/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .blog-container {
    width: 94%;
    max-width: 70em;
    margin: auto;
  }
  .blog-link {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: auto;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--headerColor);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  .blog-link:before {
    content: "";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #fff;
    opacity: 0;
    border: 1px solid var(--headerColor);
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  .blog-link:hover {
    color: var(--headerColor);
  }
  .blog-link:hover:before {
    opacity: 1;
  }
}
/*-- -------------------------- -->
<---           Header           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #header {
    position: relative;
    z-index: 1;
  }
  #header .blog-container {
    padding: clamp(100px, 14vw, 200px) 0 clamp(50px, 11vw, 100px);
  }
  #header .blog-header {
    font-size: clamp(24px, 4vw, 48px);
    font-weight: 700;
    line-height: 1.2em;
    text-align: left;
    width: 100%;
    margin: 0;
    color: #fff;
  }
  #header .blog-bg {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #header .blog-bg:before {
    /* color overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #header .blog-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    min-height: 30vh;
    padding-top: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #int-hero:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #int-hero picture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #int-hero picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #int-hero h1 {
    font-size: 2.13333333rem;
    text-align: center;
    width: 96%;
    max-width: 31.25rem;
    margin: 0 auto;
    margin-top: 4.375rem;
    margin-bottom: 1.875rem;
    color: #fff;
    position: relative;
  }
  #int-hero p {
    text-align: center;
    width: 96%;
    max-width: 25rem;
    margin: auto;
    margin-bottom: 1.875rem;
    color: #fff;
    display: block;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #int-hero {
    font-size: 100%;
  }
  #int-hero h1 {
    font-size: 4rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #int-hero {
    font-size: inherit;
    height: auto;
    min-height: 18.75rem;
    padding-top: 11.25rem;
    background-attachment: fixed;
    padding-block-end: 6.25rem;
  }
}
/*-- -------------------------- -->
<---        Main Content        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .blog-container {
    padding: clamp(60px, 7vw, 100px) 0;
  }
  .main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3.125em;
  }
  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3.125em;
  }
}
/* Tablet - 1024px */
@media only screen and (min-width: 64em) {
  .main-content-wrapper {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1.25em;
  }
}
/*-- -------------------------- -->
<---    Recent Blog Articles    -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .recent-articles {
    width: 100%;
    max-width: 49.6875em;
    overflow: hidden;
    flex: none;
  }
  .recent-articles .blog-mainImage {
    width: 100%;
    height: clamp(200px, 30vw, 400px);
    border-radius: 0.5em 0.5em 0 0;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .recent-articles .blog-mainImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .recent-articles .article-group {
    padding: clamp(30px, 5vw, 50px);
    border: 1px solid #ebebeb;
    border-radius: 0 0 0.5em 0.5em;
  }
  .recent-articles .blog-author-img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .recent-articles .blog-author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .recent-articles .blog-authorGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }
  .recent-articles .blog-author,
  .recent-articles .blog-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  .recent-articles .blog-dot {
    width: 3px;
    height: 3px;
    background-color: var(--primary);
    border-radius: 50%;
    display: block;
  }
  .recent-articles .blog-h1 {
    font-size: clamp(20px, 5vw, 32px);
    font-weight: 700;
    line-height: 1.4em;
    margin: 1rem 0;
    color: var(--headerColor);
  }
  .recent-articles .blog-desc {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 1rem 0 2rem;
    color: var(--bodyTextColor);
  }
  .recent-articles .blog-link {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: auto;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--headerColor);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  .recent-articles .blog-link:before {
    content: "";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #fff;
    opacity: 0;
    border: 1px solid var(--headerColor);
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  .recent-articles .blog-link:hover {
    color: var(--headerColor);
  }
  .recent-articles .blog-link:hover:before {
    opacity: 1;
  }
}
/* Mobile - 1024px */
@media only screen and (min-width: 64em) {
  .recent-articles .blog-h1 {
    max-width: 31.25rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode .recent-articles .blog-h1,
  body.dark-mode .recent-articles .blog-desc,
  body.dark-mode .recent-articles .blog-author,
  body.dark-mode .recent-articles .blog-date {
    color: #f7f7f7;
  }
  body.dark-mode .blog-sidebar .feature-h3,
  body.dark-mode .blog-sidebar .feature-date,
  body.dark-mode .blog-sidebar .blog-header {
    color: #f7f7f7;
  }
  body.dark-mode .blog-sidebar .blog-header:after {
    background: var(--primary);
  }
  body.dark-mode .blog-article .blog-h1,
  body.dark-mode .blog-article .blog-author,
  body.dark-mode .blog-article .blog-date {
    color: #f7f7f7;
  }
  body.dark-mode .blog-article #blog-content h1,
  body.dark-mode .blog-article #blog-content h2,
  body.dark-mode .blog-article #blog-content h3,
  body.dark-mode .blog-article #blog-content h4,
  body.dark-mode .blog-article #blog-content h5,
  body.dark-mode .blog-article #blog-content h6 {
    color: #f7f7f7;
  }
  body.dark-mode .blog-article #blog-content p,
  body.dark-mode .blog-article #blog-content li {
    color: #f7f7f7;
    opacity: 0.8;
  }
  body.dark-mode .blog-article #blog-content a {
    color: #9dafe5;
  }
}
/*-- -------------------------- -->
<---          Sidebar           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .blog-sidebar {
    width: 100%;
    max-width: 49.6875em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3.125em;
  }
  .blog-sidebar .blog-featured-group {
    width: 100%;
    padding: 2.1875em 1.875em;
    border: 1px solid #ebebeb;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .blog-sidebar .blog-header {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.875rem;
    color: var(--headerColor);
    display: block;
    position: relative;
  }
  .blog-sidebar .blog-header:after {
    content: "";
    width: 3.125rem;
    height: 3px;
    margin: 1rem auto;
    background: var(--headerColor);
    border-radius: 0.25rem;
    display: block;
    position: relative;
  }
  .blog-sidebar .blog-feature {
    text-decoration: none;
    width: 100%;
    padding: 1.25rem 0;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.5em;
  }
  .blog-sidebar .blog-feature:nth-of-type(1) {
    padding-top: 0;
  }
  .blog-sidebar .blog-feature:last-of-type {
    padding-bottom: 0;
    border: none;
  }
  .blog-sidebar .blog-featureImage {
    width: 3.75em;
    height: 3.75em;
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
    flex: none;
  }
  .blog-sidebar .blog-featureImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .blog-sidebar .feature-h3 {
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    margin-bottom: 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  .blog-sidebar .feature-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
    display: block;
  }
}
/* Tablet - 1024px */
@media only screen and (min-width: 64em) {
  .blog-sidebar {
    max-width: 22.5em;
  }
}
/*-- -------------------------- -->
<---        Blog Articles       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .blog-article {
    width: 100%;
    max-width: 49.6875em;
    display: block;
  }
  .blog-article .blog-mainImage {
    width: 100%;
    height: clamp(200px, 30vw, 400px);
    margin-bottom: 3.125em;
    border-radius: 0.5em;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .blog-article .blog-mainImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .blog-article .blog-author-img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .blog-article .blog-author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .blog-article .blog-authorGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }
  .blog-article .blog-author,
  .blog-article .blog-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  .blog-article .blog-dot {
    width: 3px;
    height: 3px;
    background-color: #fe4f70;
    border-radius: 50%;
    display: block;
  }
  .blog-article .blog-h1 {
    font-size: clamp(20px, 5vw, 39px);
    font-weight: 700;
    line-height: 1.4em;
    max-width: 34.375rem;
    margin: 1rem 0;
    color: var(--headerColor);
  }
  .blog-article #blog-content {
    margin-top: 1em;
    padding-top: 1.5625em;
    border-top: 1px solid #ebebeb;
  }
  .blog-article #blog-content h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.75em;
    margin-bottom: 1rem;
    color: var(--headerColor);
  }
  .blog-article #blog-content h2 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1rem;
    color: var(--headerColor);
  }
  .blog-article #blog-content h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1rem;
    color: var(--headerColor);
  }
  .blog-article #blog-content h4,
  .blog-article #blog-content h5,
  .blog-article #blog-content h6 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1rem;
    color: var(--headerColor);
  }
  .blog-article #blog-content p {
    font-size: 1rem;
    line-height: 1.6em;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }
  .blog-article #blog-content a {
    font-size: inherit;
    text-decoration: underline;
    color: var(--secondary);
  }
  .blog-article #blog-content ul,
  .blog-article #blog-content ol {
    margin: 0;
    margin: 1rem 0;
    padding-left: 2.5rem;
  }
  .blog-article #blog-content ul li,
  .blog-article #blog-content ol li {
    font-size: 1rem;
    line-height: 1.6em;
    list-style: circle;
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }
  .blog-article #blog-content img {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    border-radius: 0.5rem;
    display: block;
  }
}
/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #cs-footer {
    font-family: "Roboto", "Arial", sans-serif;
    /* 60px - 100px top and bottom */
    padding: clamp(3.75em, 7.82vw, 6.25em) 1em;
    background-color: #1a1a1a;
  }
  #cs-footer .cs-container {
    width: 100%;
    max-width: 80em;
    margin: auto;
  }
  #cs-footer .cs-logo-group {
    /* takes up all the space, lets the other ul's wrap below it */
    width: 100%;
    position: relative;
  }
  #cs-footer .cs-logo {
    /* 210px - 240px */
    width: clamp(13.125em, 8vw, 15em);
    height: auto;
    /* 28px - 44px */
    margin-bottom: clamp(1.75em, 4.17vw, 2.75em);
    display: block;
  }
  #cs-footer .cs-logo-img {
    width: 100%;
    height: auto;
  }
  #cs-footer .cs-text {
    /* changes to 521px at desktop */
    max-width: 21.5rem;
    margin: 0;
    margin-bottom: 2.5rem;
    color: var(--bodyTextColorWhite);
  }
  #cs-footer .cs-nav {
    margin: 0;
    /* 32px - 40px */
    margin-bottom: clamp(2em, 5.3vw, 2.5em);
    padding: 0;
    padding-left: 1em;
  }
  #cs-footer .cs-nav-li {
    line-height: 1.5em;
    list-style: none;
  }
  #cs-footer .cs-nav-li:last-of-type {
    margin-bottom: 0;
  }
  #cs-footer .cs-header {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1.25rem;
    color: var(--bodyTextColorWhite);
    display: block;
    position: relative;
  }
  #cs-footer .cs-nav-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #cs-footer .cs-nav-link:before {
    /* underline */
    content: "";
    width: 0%;
    height: 0.125rem;
    /* current color of the parent */
    background: currentColor;
    opacity: 1;
    display: block;
    position: absolute;
    bottom: calc(-2 / 16 * 1rem);
    left: 0;
    transition: width 0.3s;
  }
  #cs-footer .cs-nav-link:hover:before {
    width: 100%;
  }
  #cs-footer .cs-bottom {
    width: 100%;
    padding-left: 1em;
    position: relative;
  }
  #cs-footer .cs-copyright {
    font-size: 1rem;
    line-height: 1.5em;
    color: #b4b2c7;
    display: block;
  }
  #cs-footer .cs-social {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.75em;
    position: absolute;
    right: 1em;
    bottom: 0;
  }
  #cs-footer .cs-social-link {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #4e4b66;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: transform 0.3s, background-color 0.3s;
  }
  #cs-footer .cs-social-link:hover {
    background-color: var(--primary);
    transform: translateY(calc(-3 / 16 * 1rem));
  }
  #cs-footer .cs-social-img {
    width: auto;
    height: 0.8125rem;
    display: block;
  }
}
/* Inbetween - 600px */
@media only screen and (min-width: 37.5em) {
  #cs-footer .cs-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* 48px - 60px */
    column-gap: clamp(3em, 5.9vw, 3.75em);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #cs-footer .cs-logo-group {
    /* 20px - 60px */
    margin-bottom: clamp(1.25em, 4vw, 3.75em);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  #cs-footer .cs-logo {
    margin: 0;
  }
  #cs-footer .cs-text {
    text-align: right;
    width: 50%;
    max-width: 32.5625rem;
    margin: 0;
  }
  #cs-footer .cs-nav {
    padding: 0;
  }
  #cs-footer .cs-bottom {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #cs-footer .cs-social {
    flex-direction: row;
    position: relative;
    right: auto;
    /* reset these positions */
    bottom: auto;
  }
}
/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-1765 {
    padding: var(--sectionPadding);
    background-color: #1a1a1a;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #meet-team-1765 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6.5vw, 4rem);
  }
  #meet-team-1765 .cs-content {
    /* set text align to center if content needs to be center aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #meet-team-1765 .cs-flex-wrapper {
    max-width: 37.5rem;
    /* lets the div's contents act as though it doesn't exist and can be children of the next surrounding parent div, in this case the cs-content. That way we can place the button under the cs-wrapper on mobile, but bring it back under the header on tablet */
    display: contents;
  }
  #meet-team-1765 .cs-title {
    margin: 0;
    /* 16px - 32px */
    margin-bottom: clamp(1rem, 3vw, 2rem);
    color: var(--bodyTextColorWhite);
  }
  #meet-team-1765 .cs-wrapper {
    max-width: 39.5rem;
  }
  #meet-team-1765 .cs-text {
    margin: 0 0 2rem 0;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #meet-team-1765 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    margin-top: 2rem;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #meet-team-1765 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #meet-team-1765 .cs-button-solid:hover:before {
    width: 100%;
  }
  #meet-team-1765 .cs-button-solid {
    margin: 0;
    display: inline-block;
    order: 2;
  }
  #meet-team-1765 .cs-text {
    max-width: 40rem;
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;
  }
  #meet-team-1765 .cs-ul {
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  #meet-team-1765 .cs-li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #meet-team-1765 .cs-check-icon {
    width: 1.5rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 1px;
    display: block;
  }
  #meet-team-1765 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: 1.5rem;
    position: relative;
  }
  #meet-team-1765 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-column: span 12;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
    position: relative;
  }
  #meet-team-1765 .cs-item:hover .cs-picture img {
    opacity: 0.4;
    transform: scale(1.2);
  }
  #meet-team-1765 .cs-item:hover .cs-link {
    opacity: 1;
    transform: translateY(0);
  }
  #meet-team-1765 .cs-item:hover .cs-link:hover {
    /* we need to add the hover styles for the cs-link inside the cs-item hover for specifcity. There's a transform none on the cs-link when we hover over the cs-item, so for the transform to work when we hover over the cs-link, we add it while the hover is active on the cs-item. This allows it to be more specific and override the transform 0 it adds to the cs-link */
    transform: scale(1.15);
    transition: transform 0.3s;
    transition-delay: 0;
  }
  #meet-team-1765 .cs-item:hover .cs-job {
    color: var(--primary);
  }
  #meet-team-1765 .cs-image-group {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    z-index: 1;
    aspect-ratio: 0.91691395;
    flex: 1 0 0;
  }
  #meet-team-1765 .cs-picture {
    width: 100%;
    height: 100%;
    /* removed at tablet */
    aspect-ratio: 328/260;
    background-color: #000;
    /* clips the img corners */
    /* clips img tag from overflowing it on hover */
    display: block;
    position: relative;
    overflow: hidden;
  }
  #meet-team-1765 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s, opacity 0.3s;
  }
  #meet-team-1765 .cs-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
  }
  #meet-team-1765 .cs-link {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-1rem);
    transition: transform 0.6s, opacity 0.6s;
  }
  #meet-team-1765 .cs-link:nth-of-type(2) {
    transition-delay: 0.08s;
  }
  #meet-team-1765 .cs-link:nth-of-type(3) {
    transition-delay: 0.16s;
  }
  #meet-team-1765 .cs-icon {
    width: 1.25rem;
    height: auto;
    display: block;
  }
  #meet-team-1765 .cs-info {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.3s;
  }
  #meet-team-1765 .cs-name {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
    transition: color 0.3s;
  }
  #meet-team-1765 .cs-job {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
    display: block;
    transition: color 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-1765 .cs-container {
    max-width: 107.5rem;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-1765 .cs-content {
    text-align: left;
    max-width: 80rem;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    columns: 2;
  }
  #meet-team-1765 .cs-flex-wrapper {
    width: 40vw;
    display: block;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #meet-team-1765 .cs-ul {
    margin: 0;
  }
  #meet-team-1765 .cs-card-group {
    /* 16px - 20px */
    column-gap: clamp(1rem, 2vw, 1.25rem);
    row-gap: 2.5rem;
  }
  #meet-team-1765 .cs-item {
    grid-column: span 4;
  }
  #meet-team-1765 .cs-picture {
    /* 260px - 440px */
    height: clamp(16.25rem, 33.2vw, 27.5rem);
    aspect-ratio: initial;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #meet-team-1765 .cs-ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #meet-team-1765 .cs-li {
    width: 48%;
  }
  #meet-team-1765 .cs-card-group {
    grid-template-columns: repeat(10, 1fr);
  }
  #meet-team-1765 .cs-item {
    grid-column: span 2;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #meet-team-1765 {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  :root {
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 4.5vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
  }
  #cs-contact {
    font-family: "Roboto", "Arial", sans-serif;
    padding: var(--sectionPadding);
  }
  #cs-contact .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 50rem;
    margin: auto;
  }
  #cs-contact .cs-content {
    width: 100%;
  }
  #cs-contact .cs-topper {
    text-align: left;
    /* 8px - 12px */
    margin-bottom: clamp(0.5rem, 1.4vw, 0.75rem);
  }
  #cs-contact .cs-title {
    text-align: left;
    max-width: 50rem;
  }
  #cs-contact .cs-text {
    text-align: left;
    /* 404px - 522px */
    max-width: clamp(25.25rem, 30vw, 32.625rem);
    margin: 0 auto 0 0;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 6.3vw, 3rem);
  }
  #cs-contact #cs-form {
    margin-bottom: 2.5rem;
  }
  #cs-contact #cs-form label {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5em;
    /* 12px - 20px */
    margin-bottom: clamp(0.75rem, 1.3em, 1.25rem);
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #cs-contact #cs-form .cs-label-message {
    /* 32px - 48px */
    margin-bottom: clamp(2rem, 6.3vw, 3rem);
  }
  #cs-contact #cs-form input,
  #cs-contact #cs-form textarea {
    font-size: 1rem;
    width: 100%;
    height: 4rem;
    margin-top: 0.25rem;
    /* prevents border & padding from affecting height */
    box-sizing: border-box;
    padding-left: 1.25rem;
    border: 1px solid #b4b2c7;
    border-radius: 0.5rem;
    transition: border 0.3s;
  }
  #cs-contact #cs-form input:hover,
  #cs-contact #cs-form textarea:hover {
    border: 1px solid var(--primary);
  }
  #cs-contact #cs-form textarea {
    font-family: inherit;
    min-height: 7.5rem;
    padding-top: 1.25rem;
  }
  #cs-contact #cs-form .cs-button-solid {
    width: 100%;
    border: none;
  }
  #cs-contact .cs-right-section {
    height: 20rem;
    /* 24px - 40px top & bottom */
    /* 20px - 40px left & right */
    padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    /* cuts off corners on img tag */
    overflow: hidden;
  }
  #cs-contact .cs-header {
    /* 16px - 20px */
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 0.5rem;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #cs-contact .cs-link {
    /* 16px - 20px */
    font-size: clamp(1rem, 3vw, 1.25rem);
    line-height: 1.2em;
    text-decoration: none;
    margin-bottom: 1.25rem;
    color: var(--bodyTextColorWhite);
    display: block;
    position: relative;
  }
  #cs-contact .cs-link:before {
    /* Animated underline */
    content: "";
    width: 0%;
    height: 2px;
    /* current color of the parent */
    background: currentColor;
    opacity: 1;
    display: block;
    position: absolute;
    bottom: calc(-2 / 16 * 1rem);
    left: 0;
    transition: width 0.3s;
  }
  #cs-contact .cs-link:hover:before {
    width: 100%;
  }
  #cs-contact .cs-link:last-of-type {
    margin-bottom: 0;
  }
  #cs-contact .cs-block {
    /* sends second address line to the bottom on its own line */
    display: block;
  }
  #cs-contact .cs-bg-picture {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.6s;
  }
  #cs-contact .cs-bg-picture:before {
    /* background color overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cs-contact .cs-bg-picture img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 700px */
@media only screen and (min-width: 43.75em) {
  #cs-contact #cs-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #cs-contact #cs-form label {
    width: 48%;
  }
  #cs-contact #cs-form .cs-label-message {
    width: 100%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #cs-contact .cs-container {
    max-width: 80rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5rem;
  }
  #cs-contact #cs-form {
    max-width: 39.375rem;
  }
  #cs-contact #cs-form label {
    width: 100%;
  }
  #cs-contact .cs-right-section {
    width: 40%;
    max-width: 33.875rem;
    /* changes to 578px at 1300px wide */
    height: 42.875rem;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #cs-contact .cs-right-section:hover .cs-bg-picture {
    transform: scale(1.1);
  }
  #cs-contact .cs-block {
    /* goes back to inline so it stays "in line" with the rest of the text */
    display: inline-block;
  }
}
/* Small Desktop - 1300px */
@media only screen and (min-width: 81.25em) {
  #cs-contact #cs-form {
    column-gap: 0rem;
  }
  #cs-contact #cs-form label {
    width: 48%;
    max-width: 19.0625rem;
  }
  #cs-contact #cs-form .cs-label-message {
    max-width: 100%;
  }
  #cs-contact .cs-right-section {
    height: 36.125rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #cs-contact .cs-text,
  body.dark-mode #cs-contact .cs-title {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #cs-contact #cs-form label,
  body.dark-mode #cs-contact #cs-form input,
  body.dark-mode #cs-contact #cs-form textarea {
    color: var(--bodyTextColorWhite);
    background-color: transparent;
  }
  body.dark-mode #cs-contact #cs-form label::placeholder,
  body.dark-mode #cs-contact #cs-form input::placeholder,
  body.dark-mode #cs-contact #cs-form textarea::placeholder {
    /* lighten up the color of the text by 40%*/
    filter: brightness(1.4);
  }
  body.dark-mode #cs-contact .cs-bg-picture {
    background-color: #000;
  }
  body.dark-mode #cs-contact .cs-bg-picture img {
    /* lets parent background-color bleed through and darken it */
    opacity: 0.5;
  }
}
