---
title: 'Contact'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/GroupPhoto9.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/GroupPhoto9.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/GroupPhoto9.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>
<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1765">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-wrapper">
                <div class="cs-flex">
                    <span class="cs-topper">Augusta Blind Sports Association</span>
                    <h2 class="cs-title">Helping visually impaired people all over Georgia discover their athletic potential.
                </div>
                <a target="_blank" data-url="https://square.link/u/YWgdTydc?src=embd" href="https://square.link/u/YWgdTydc?src=embed" class="cs-button-solid">Donate Now</a>
            </div>
            <div class="cs-wrapper">
                <p class="cs-text">
                    Founded in 2011, the Georgia Blind Sports Association is a 501(c)(3) nonprofit organization dedicated to advocating for visually impaired athletes of all ages in Georgia. We encourage these individuals to engage in sports that foster teamwork, promote a healthy lifestyle, and empower them to fully utilize their athletic talents. To support our mission and help us continue providing these valuable opportunities, please consider making a donation. Your contributions go directly towards purchasing equipment, renting facilities, providing accommodations, and increasing awareness. Your donation contributes to:                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        Purchasing Equipment
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        Registration Fees
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        Expand Programs
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        Travel Expenses
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        Creating Opportunities
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        Enriching Lives
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</section>

{% endblock %}