---
title: 'Georgia Blind Sports Association'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-998">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">We Are</span>
            <!--Logo-->
            <picture class="cs-logo">
                <source media="(max-width: 600px)" srcset="assets/images/GBSA_better.png">
                <source media="(min-width: 601px)" srcset="assets/images/GBSA_better.png">
                <img decoding="async" src="assets/images/GBSA_better.png" alt="Stitch House Restaurant" width="614" height="166">
                </picture>
                <p class="cs-text">
                Sports for the blind and visually impaired.
                </p>
                <a href="sports/" class="cs-button-solid">View Full List of Sports</a>
        </div>
    </div>
    <!--Background Image-->
    <!--Image is also set as background image in CSS at 1400px for parallax effect-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="assets/images/Champion_One.jpg">
        <source media="(min-width: 601px)" srcset="assets/images/Champion_One.jpg">
        <img decoding="async" src="assets/images/Champion_One.jpg" alt="logo" width="1920" height="1000">
        </picture>
</section>
<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">ABOUT US</span>
            <h2 class="cs-title">Georgia Blind Sports Academy</h2>
            <p class="cs-text">
                Together, we are committed to breaking down barriers, challenging perceptions, and creating a world where visually impaired athletes can thrive and excel.
            </p>
            <a href="projects/" class="cs-button-solid">See Our Pictures</a>                               
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-1445">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="assets/images/missionPic.jpg">
            <source media="(min-width: 601px)" srcset="assets/images/missionPic.jpg">
            <img loading="lazy" decoding="async" src="assets/images/missionPic.jpg" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Georgia Blind Sports Association</span>
            <h2 class="cs-title">Our Mission</h2>
            <p class="cs-text">
                Our mission is to enhance the lives of visually impaired individuals by providing opportunities for athletic participation, fostering a community of support and inclusion, and promoting physical fitness and well-being. We strive to:
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="assets/svgs/check.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Create Access</h3>
                        <p class="cs-li-text">
                            Ensure that blind and visually impaired individuals have access to a wide range of sports and recreational activities.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="assets/svgs/check.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Build Community</h3>
                        <p class="cs-li-text">
                            Foster a supportive and inclusive community where athletes can connect, share experiences, and encourage one another.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="assets/svgs/check.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Promote Health</h3>
                        <p class="cs-li-text">
                            Advocate for the physical and mental health benefits of regular athletic participation.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="assets/svgs/check.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Inspire Excellence</h3>
                        <p class="cs-li-text">
                            Encourage athletes to achieve their personal best, set ambitious goals, and pursue excellence in their chosen sports.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="assets/svgs/check.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Raise Awareness</h3>
                        <p class="cs-li-text">
                            Increase public awareness and understanding of the capabilities and achievements of blind athletes.
                        </p>
                    </div>
                </li>
            </ul>     
            <a href="reviews/" class="cs-button-solid">View Our Schedule</a>        
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-1445">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="assets/images/GroupPhoto7.jpg">
            <source media="(min-width: 601px)" srcset="assets/images/GroupPhoto7.jpg">
            <img loading="lazy" decoding="async" src="assets/images/GroupPhoto7.jpg" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Georgia Blind Sports Association</span>
            <h2 class="cs-title">Our Vision</h2>
            <p class="cs-text">
                Our organization is guided by a commitment to inclusion, empowerment, and community. We strive to create an inclusive environment where blind and visually impaired athletes feel valued and supported. Empowerment is at the core of our mission, as we provide resources and opportunities for athletes to reach their full potential. We foster a strong sense of community, promoting mutual support and camaraderie. Integrity, respect, and excellence drive our actions, ensuring we operate transparently and with high standards. Through advocacy and collaboration, we work to remove barriers and promote the rights of blind athletes, celebrating their resilience and achievements while educating the public about their capabilities.
            </p>
              
            <a href="" class="cs-button-solid">Learn About Us</a>        
        </div>
    </div>
</section>
                                                                                                

    {% include 'components/cta.html' %}
{% endblock %}